# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vite
.scannerwork
dist
dist_keycloak
.keycloakify/realm-kc-26.json
public/keycloakify-dev-resources
.vscode
.codemie/claude-templates
.codemie/virtual_assistants
.codemie/claude.extension.json
.codemie/reviews
.codemie/specs
.claude/settings.local.json
bmad/*
.gemini/*
/opencode.json
/.playwright-mcp/
/test-results/
