<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EPAM AI/Run CodeMie Updates</title>
    <style>
      body {
        margin: 0;
        background: #1c1c1c;
        color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 22px;
        -webkit-font-smoothing: antialiased;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
      }

      .link {
        color: #fff !important;
      }

      .footer-link {
        text-decoration: none;
        color: #ffffff !important;
      }

      .footer-link img {
        min-width: 32px;
        min-height: 32px;
      }

      .panel {
        background: #2e2138;
      }

      .panel-2 {
        background: #212838;
      }

      .footer-link-wrapper {
        width: 110px;
        margin: 5px 2px 15px 2px;
      }

      .light {
        display: none;
      }

      @media (max-width: 500px) {
        .footer-link-wrapper {
          width: 93px;
          margin: 5px 2px 15px 2px;
        }
      }

      @media (prefers-color-scheme: light) {
        body {
          background-color: #fff;
          color: #000000;
        }

        .dark {
          display: none;
        }

        .light {
          display: inline;
        }

        .panel {
          background: #f1dcff;
        }

        .panel-2 {
          background: #d3eafb;
        }

        .link {
          color: #000 !important;
        }

        .footer-link {
          color: #5a62f6 !important;
        }
      }
    </style>
  </head>

  <body>
    <table
      align="center"
      width="650"
      cellpadding="0"
      cellspacing="0"
      border="0"
      role="presentation"
    >
      <tr>
        <td
          align="center"
          valign="top"
          style="
            background-image: url('https://github.com/epam-gen-ai-run/ai-run-install/blob/main/docs/assets/ai/email_bg.png?raw=true');
            background-repeat: no-repeat;
            background-position: top right;
          "
        >
          <div>
            <table
              width="650"
              cellpadding="0"
              cellspacing="0"
              border="0"
              role="presentation"
              class="container"
            >
              <tr>
                <td colspan="5" style="padding: 0 20px">
                  <img
                    class="dark"
                    src="https://github.com/epam-gen-ai-run/ai-run-install/blob/main/docs/assets/ai/email-logo-dark.png?raw=true"
                    alt="logo"
                    width="156"
                    style="padding-top: 50px; background-color: transparent"
                  />
                  <img
                    class="light"
                    src="https://github.com/epam-gen-ai-run/ai-run-install/blob/main/docs/assets/ai/email-logo-light.png?raw=true"
                    alt="logo"
                    width="156"
                    style="padding-top: 50px; background-color: transparent"
                  />
                </td>
              </tr>

              <tr>
                <td
                  colspan="5"
                  style="
                    padding: 32px 20px 0 20px;
                    font-size: 32px;
                    line-height: 34px;
                    font-weight: bold;
                  "
                >
                  EPAM AI/Run CodeMie Updates
                </td>
              </tr>

              <tr>
                <td colspan="5" style="padding: 42px 20px 0 20px">
                  <b style="margin-bottom: 6px; display: block">
                    Dear EPAM AI/Run CodeMie users,
                  </b>
                  <br />
                  We're excited to share the latest advancements in EPAM AI/Run CodeMie version
                  1.4.0! Our goal is to constantly innovate and improve your experience. Here's
                  what's new:
                </td>
              </tr>

              <tr>
                <td
                  colspan="5"
                  style="font-size: 16px; font-weight: bold; padding: 32px 20px 16px 20px"
                >
                  ⚡️ New Features and Enhancements
                </td>
              </tr>

              <tr>
                <td colspan="5" style="padding: 0 20px">
                  <table
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    border="0"
                    role="presentation"
                  >
                    <tr>
                      <td class="panel" style="padding: 24px; border-radius: 8px">
                        <b style="font-size: 16px; margin-bottom: 10px; display: block"
                          >LangGraph Supervisor Agent Integration</b
                        >
                        Introduced the LangGraph Supervisor agent to manage workflows, enhancing
                        efficiency and retiring the older autonomous workflow system in CodeMie.
                        This improvement optimizes workflow management and resource allocation.
                        <br /><br />
                        <b style="font-size: 16px; margin-bottom: 10px; display: block"
                          >Report Portal Toolkit Integration for QA & Business Users:</b
                        >
                        Seamlessly analyze testing results and project quality metrics directly from
                        the platform. The new toolkit brings intuitive tools for viewing launch
                        statuses, test item results, user activity, and dashboard analytics. Now QA
                        analysts and business stakeholders can make faster, data-driven
                        decisions—without technical setup or leaving CodeMie. Retrieve, export, and
                        review all your testing and reporting data, improving quality assurance and
                        feedback cycles.
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr>
                <td
                  colspan="5"
                  style="font-size: 16px; font-weight: bold; padding: 32px 20px 0 20px"
                >
                  🪲 Fixes
                </td>
              </tr>

              <tr>
                <td
                  colspan="5"
                  style="padding: 0 20px 24px 20px; font-size: 14px; line-height: 18px"
                >
                  <ul>
                    <li>
                      Search Error Handling Improvements: Resolved an issue where searches with
                      special characters (e.g., "C#") triggered invalid filter errors in the
                      Marketplace, significantly enhancing search reliability.
                    </li>
                    <br />
                    <li>
                      File-Type Detection for PPTX: Fixed MIME type assignment errors for PPTX files
                      under the FILE_STORAGE_TYPE=filesystem setting, ensuring seamless file
                      processing
                    </li>
                    <br />
                    <li>
                      Workflow and Operation Cancellation: Addressed issues where workflows or chat
                      operations ran indefinitely post-cancellation, aligning the behavior with user
                      expectations
                    </li>
                    <br />
                    <li>
                      ServiceNow Integration Fixes: Fixed an issue where unsupported arguments in
                      API calls caused ServiceNow integration test failures, enabling smoother
                      integration processes.
                    </li>
                  </ul>
                </td>
              </tr>

              <tr>
                <td colspan="5" style="padding: 0 20px">
                  <table
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    border="0"
                    role="presentation"
                  >
                    <tr>
                      <td class="panel" style="padding: 24px 24px 32px 24px; border-radius: 8px">
                        <b style="font-size: 16px; margin-bottom: 10px; display: block"
                          >🎥 Check out the related Video Tutorial:</b
                        >
                        <a
                          href="https://videoportal.epam.com/video/V7rEM5gJ"
                          style="color: #fff"
                          class="link"
                          style="text-decoration: underline"
                        >
                          AI-Driven Assistant Creation
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr>
                <td colspan="5" style="text-align: center; padding: 20px 20px 40px 20px">
                  For further insights into this update, visit our
                  <a
                    href="https://codemie.lab.epam.com/#/release-notes"
                    class="link"
                    style="color: #fff"
                    >Release Notes</a
                  >.
                </td>
              </tr>

              <tr>
                <td colspan="5" style="padding: 0 20px">
                  <table
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    border="0"
                    role="presentation"
                  >
                    <tr>
                      <td class="panel-2" style="padding: 24px; border-radius: 8px">
                        <b style="font-size: 16px; margin-bottom: 10px; display: block">
                          👉️ Interested in joining the CodeMie project as a contributor?
                        </b>
                        Our updated
                        <a
                          class="link"
                          style="color: #fff"
                          href="https://codemie.lab.epam.com/#/assistants/codemie-onboarding-for-developers/start"
                          >CodeMie Contributors Assistant
                        </a>
                        streamlines the process for you. With automated scripts, credential setup,
                        and step-by-step guidance, you'll have all the resources you need to
                        contribute quickly and easily.
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr>
                <td style="padding: 14px 0"></td>
              </tr>

              <tr>
                <td
                  colspan="5"
                  align="center"
                  class="footer-title"
                  style="padding: 20px 20px 2px 20px; border-radius: 8px 8px 0 0"
                >
                  <h3>Stay Connected</h3>
                </td>
              </tr>

              <tr>
                <td
                  colspan="5"
                  style="padding: 10px 20px 20px 20px; text-align: center; font-size: 0"
                >
                  <div
                    class="footer-link-wrapper"
                    style="display: inline-block; vertical-align: top"
                  >
                    <a
                      class="footer-link"
                      style="color: #fff"
                      href="https://forms.office.com/Pages/ResponsePage.aspx?id=0HIbtJ9OJkyKaflJ82fJHf973Np-tJVBqnGXAVBQ0FVUMEdNQ05OVUVXWkQzUlNMRDlZWU9CV0ZBRy4u"
                    >
                      <img
                        src="https://github.com/epam-gen-ai-run/ai-run-install/blob/main/docs/assets/ai/email-survey.png?raw=true"
                        alt="survey_icon"
                        width="34"
                        height="34"
                        style="background-color: transparent"
                      />
                      <div style="font-size: 12px; line-height: 24px; text-decoration: underline">
                        Complete Survey
                      </div>
                    </a>
                  </div>
                  <div
                    class="footer-link-wrapper"
                    style="display: inline-block; vertical-align: top"
                  >
                    <a
                      class="footer-link"
                      href="https://videoportal.epam.com/channel/z1Je1k9Jv5/videos"
                      style="color: #fff"
                    >
                      <img
                        src="https://github.com/epam-gen-ai-run/ai-run-install/blob/main/docs/assets/ai/email-video-portal.png?raw=true"
                        alt="subscribe_icon"
                        width="34"
                        height="34"
                        style="background-color: transparent"
                      />
                      <div style="font-size: 12px; line-height: 24px; text-decoration: underline">
                        Video Portal
                      </div>
                    </a>
                  </div>
                  <div
                    class="footer-link-wrapper"
                    style="display: inline-block; vertical-align: top"
                  >
                    <a
                      class="footer-link"
                      href="https://leap.epam.com/news/subscriptions"
                      style="color: #fff"
                    >
                      <img
                        src="https://github.com/epam-gen-ai-run/ai-run-install/blob/main/docs/assets/ai/email-leap.png?raw=true"
                        alt="leap_icon"
                        width="34"
                        height="34"
                        style="background-color: transparent"
                      />
                      <div style="font-size: 12px; line-height: 24px; text-decoration: underline">
                        Leap News
                      </div>
                    </a>
                  </div>
                  <div
                    class="footer-link-wrapper"
                    style="display: inline-block; vertical-align: top"
                  >
                    <a
                      class="footer-link"
                      href="https://epa.ms/codemie-support"
                      style="color: #fff"
                    >
                      <img
                        src="https://github.com/epam-gen-ai-run/ai-run-install/blob/main/docs/assets/ai/email-support.png?raw=true"
                        alt="support_icon"
                        width="34"
                        height="34"
                        style="background-color: transparent"
                      />
                      <div style="font-size: 12px; line-height: 24px; text-decoration: underline">
                        Contact Support
                      </div>
                    </a>
                  </div>
                  <div
                    class="footer-link-wrapper"
                    style="display: inline-block; vertical-align: top"
                  >
                    <a
                      class="footer-link"
                      href="https://www.youtube.com/@EPAMAIRunCodeMie"
                      style="color: #fff"
                    >
                      <img
                        src="https://github.com/epam-gen-ai-run/ai-run-install/blob/main/docs/assets/ai/email-youtube.png?raw=true"
                        alt="youtube_icon"
                        width="34"
                        height="34"
                        style="background-color: transparent"
                      />
                      <div style="font-size: 12px; line-height: 24px; text-decoration: underline">
                        Youtube
                      </div>
                    </a>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="5" style="text-align: center; padding: 30px 20px 0 20px">
                  <img
                    class="dark"
                    src="https://github.com/epam-gen-ai-run/ai-run-install/blob/main/docs/assets/ai/email-logo-dark.png?raw=true"
                    alt="logo"
                    height="25"
                    style="background-color: transparent"
                  />
                  <img
                    class="light"
                    src="https://github.com/epam-gen-ai-run/ai-run-install/blob/main/docs/assets/ai/email-logo-light.png?raw=true"
                    alt="logo"
                    height="25"
                    style="background-color: transparent"
                  />
                </td>
              </tr>

              <tr>
                <td colspan="5" style="padding: 8px 20px 0 20px; text-align: center">
                  Sincerely,<br />
                  EPAM AI/Run CodeMie Team
                </td>
              </tr>

              <tr>
                <td
                  colspan="5"
                  style="
                    padding: 16px 20px 64px 20px;
                    text-align: center;
                    color: #999;
                    font-size: 12px;
                  "
                >
                  This letter was entirely composed and sent by an AI assistant.
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
